
@{
    ViewBag.Title = "Lookup By Author";
}

<h1>Lookup By Author</h1>
<input type="text" id="author" class="form-control"
       oninput="search()" />
<!-- input type="button" id="search" value="Search by City"
        class="btn btn-default" onclick="search()" /-->

<table class="table table-striped" id="authors">
    <!-- this is the inner HTML for #customers -->
</table>

<script type="text/javascript"
        src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function search() {
        $.ajax(
            {
                type: 'POST',
                url: '/Home/GetBooksByAuthor',
                data: '{author: "' + document.getElementById("author").value
                    + '"}',
                contentType: 'application/json; charset-utf-8',
                dataType: 'json',
                success:
                    function (response) {
                        var tableHTML = "<tr><th>Ranking</th>"
                            + "<th>Title</th>"
                            + "<th>Author</th>"
                            + "<th>Year Published</th></tr>";
                        for (var i = 0; i < response.length; i++) {
                            var Book = response[i];
                            var tr = "<tr><td>" + Book.Ranking + "</td>"
                                + "<td>" + Book.Title + "</td>"
                                + "<td>" + Book.Author + "</td>"
                                + "<td>" + Book.YearPublished + "</td>"
                                + "</tr>";
                            tableHTML += tr;
                        }
                        document.getElementById("authors")
                            .innerHTML = tableHTML;
                    },
                failure: function (response) {
                    alert("Failure" + response.responseText);
                },
                error: function (response) {
                    alert("Error" + response.responseText);
                }
            }

        );
    }
</script>

<ul>
    <li>@Html.ActionLink("By Title", "BooksByTitle", "Home")</li>
    <li>@Html.ActionLink("By Year Published", "BooksByYear", "Home")</li>
</ul>
