@{
    ViewBag.Title = "Library Search";
}

<h1></h1>
@Html.ActionLink("Lookup By Author", "BooksByAuthor", "Home", new { @class = "btn btn-primary" })
@Html.ActionLink("Lookup By Title", "BooksByTitle", "Home", new { @class = "btn btn-primary" })
@Html.ActionLink("Lookup By Year Published", "BooksByYear", "Home", new { @class = "btn btn-primary" })